<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the ArgTrack System.
  </h2>

  <%= link_to "Track your system now!", '#', class: "btn btn-large btn-primary" %>
</div>