
<script type="text/javascript">
$(function(){
   $('.carousel').carousel();
});
</script>

<div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="assets/tambo/images (16).jpeg" alt="" style="width: 950px; height:300px;" >
                <div class="carousel-caption">
                  <h3>Controle la Produccion Diaria</h3>
                  <p>Utilize el sistema de control lechero TrackTambo para el conocimiento y control diario de la producción tambera, a traves de un seguimiento individual de cada una de las vacas</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/tambo/vacas-2.jpg" alt="" style="width: 950px; height:300px;">
               <div class="carousel-caption">
                  <h3>Detecte Celo</h3>
                  <p>Mediante nuestro sistema de deteccion de celo TrackCelo que utiliza collares para seguimiento de actividad y deteccion de monta pasiva puede detarminar cuales vacas se encuentran en celo</p>
                </div>
              </div>
               <div class="item">
                <img src="assets/tambo/images (12).jpeg" alt="" style="width: 950px; height:300px;">
                <div class="carousel-caption">
                  <h3>Aumente sus Ganancias</h3>
                  <p>Con una buena utilizacion de nuestros sistema podra aumentar la produccion diaria de su establecimiento y mejorar mejorar la reproduccion y el intervalo entre partos lo que le permitira recuperar rapidamente su inversion y aumentar sus ganancias</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>



<%= render 'layouts/products' %>
