      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="assets/VacaAnimada1.jpeg">
        <h2 class="featurette-heading">Innovacion en Deteccion de Celo <span class="muted"> Observacion el ganado completo las 24 horas...</span></h2>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
