<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse">
    <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">TrackTambo</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Inicio" , root_path %></li>
          <li><A HREF="#product_section">Productos</a></li>
          <li><%= link_to "Contacto", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>