 
   <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div id="product_section" class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>TrackCelo</h2>
          <p>Collar de monitoreo en cada animal que registra la actividad de cada vaca las 24 horas del dia permintiendole aumentar la eficacia en la deteccion de celo de la vaca y conocer el momento optimo de inseminacion</p>
          <p><a class="btn" href="#">Mas Informacion &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>TrackCentral</h2>
          <p>Sistema de control de ganado lechero utilizado en conjunto con TrackCelo para llevar un historial de cada animal registrando los celos detectados y servicios aplicados</p>
          <p><a class="btn" href="#">Mas Informacion &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>TrackTambo <span class="label label-warning">Proximo</span></h2>
          <p>Sistema Web de gestion para Tambos que le posibilita administrar toda la informacion de su establecimiento utilizandolo totalmente en internet desde cualquier lugar que se encuentre</p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
