 
<hr class="soften">

 <div class="row">  
      <div class="span6">  
        <h2>TrackTambo <span class="label label-warning">Proximo</span></h2>  
          <p>Sistema de monitoreo para el conocimiento y control diario de la producción tambera, a traves de un seguimiento particular, individual de cada una de las vacas.</p>  
      </div>  
      <div class="span6">  
        <h2>TrackCelo <span class="label label-warning">Proximo</span></h2>  
          <p>Sistema unico de collares que monitorea actidivad diaria y monta pasiva aumentando la eficacia en la deteccion de celo de la vaca y brindandole datos necesarios para encontrar el momento optimo de inseminacion.</p><a class="btn" href="http://trackcelo.herokuapp.com/">Ver</a>  
      </div>  
</div>  

 <hr class="soften">

 <div class="row">  
      <div class="span4">  
          <p>
          <span class="floatleft"><img src="assets/group.png"> <b>Somos un equipo de trabajo conformado por profesionales especializados en las area de software, electronica y comunicaciones</b></span>
      </p>
     </div>  
      <div class="span4">  
            <p>
          <span class="floatleft"><img src="assets/roundabout.png"> <b>Nos enfocamos en excelencia, innovacion, transparencia e eficiencia para ofrecer la solucion optima para sus necesidades</b></span>
      </p>
        </div>  
      <div class="span4">  
            <p>
          <span class="floatleft"><img src="assets/thumbnails.png"> <b>Adaptamos nuestras soluciones a su medida brindadole un producto unico para controlar su sistema desde cualquier lugar</b></span>
      </p>
   </div>  
</div>  
